/*
    首页样式代码
*/
* {
    font-family: "Verdana";
}
#index-body {
    /*height: 1100px;*/
}

.index-mask {
    position: absolute;
    top: -4px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    background: rgba(0,0,0,.3);
}

.index-board {
    /*background: url("./images/indexBg.png") no-repeat center top;*/
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    /*min-height: 1000px;*/
    position: relative;
    /*overflow: hidden;*/
    overflow: hidden;
}

.index-content {
    position: absolute;
    top: 38%;
    left: 50%;
    right: 0;
    z-index: 3;
    width: 100%;
    /* text-align: center; */
    margin-left: -50%;
    overflow: hidden;
    height: 300px;
}
.video-box{
    position: relative;
    width: 100%;
    overflow: hidden;
}
.index-content  .search-form {
    height: 78px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    position: relative;
    width: 60%;
    margin: auto;
    background: rgba(255,255,255,.6);
    border-radius: 6px;
    -moz-box-shadow: 2px 3px 4px rgba(0,0,0,.5);
    -webkit-box-shadow: 2px 3px 4px rgba(0,0,0,.5);
    box-shadow: 2px 3px 4px rgba(0,0,0,.5);
}
.index-content > .search-form > .input-field {
    width: 88%;
    height: 100%;
    margin-left: 4%;
    color: #000;
    font-style: italic;
    position: absolute;
    background: none;
    font-size: 16px;
}
.mv-video{
    left: 0;
    top: 0;
    width: 100%;
}
.index-content  .search-form  .search-btn {
    position: absolute;
    top: 50%;
    right: 2%;
    width: 44px;
    height: 44px;
    cursor: pointer;
    background: url("./images/searchBtn.png") no-repeat center center;
    -moz-background-size: 46px, 46px;
    -o-background-size: 46px, 46px;
    -webkit-background-size: 46px, 46px;
    background-size: 46px, 46px;
    border: none;
}
.index-content h1{
    word-wrap: break-word;
    text-align: center;
    font-size: 60px;
    color: #fff;
    display: block;
    width: 60%;
    margin: 0 auto 56px;
    moz-user-select: -moz-none;
    -moz-user-select: none;
    -o-user-select:none;
    -khtml-user-select:none;
    -webkit-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
.index-content > .icon-name {
    position: absolute;
    top: 15%;
    left: 50%;
    z-index: 4;
}
.index-content > .icon-name > .big-icon {
    display: block;
    margin: 0 auto;
    width: 182px;
    height: 182px;
    border: 4px solid #fff;
    margin-bottom: 50px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.index-content > .icon-name > .greeting {
    font-size: 36px;
    color: #fff;
    text-align: center;
}

.index-footer {
    /*position: absolute;*/
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    /*height: 252px;*/
    padding: 16px 10%;
    background: #fff;
    z-index: 4;
    position: relative;
}
.index-footer > .hot-video-list {
    height: 100%;
    overflow: hidden;
}
.index-footer .hot-video-item {
    position: relative;
    width: 30%;
    height: 100%;
    background: url("./images/videoPic.png") no-repeat center center;
    margin: 1.66%;
}
.index-footer .detail-link{
    cursor: pointer;
}
.index-footer .hot-video-item >img{
    width: 100%;
    height: 100%;
}
.index-footer .detail-link:hover > .play-icon {
    background: url("./images/videoPlayIconActive.png") no-repeat;
    -moz-background-size: 60px, 60px;
    -o-background-size: 60px, 60px;
    -webkit-background-size: 60px, 60px;
    background-size: 60px, 60px;
}
.index-footer .detail-link:hover > .hot-video-mask {
    background-color: rgba(0, 0, 0, 0.6);
}
/*.index-footer .hot-video-item + .hot-video-item {*/
    /*margin: 2.5%;*/
/*}*/
.index-footer .hot-video-item > .hot-video-mask {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
}
.index-footer .hot-video-item > .play-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60px;
    height: 60px;
    margin-left: -30px;
    margin-top: -30px;
    background: url("./images/videoPlayIcon.png") no-repeat;
    -moz-background-size: 60px, 60px;
    -o-background-size: 60px, 60px;
    -webkit-background-size: 60px, 60px;
    background-size: 60px, 60px;
}
.input-field.focus {
    -webkit-box-shadow:  #FF2443 0 0 15px;
    -moz-box-shadow:  #FF2443 0 0 15px;
    -ms-box-shadow:  #FF2443 0 0 15px;
    box-shadow: #ff2443 0 0 15px;
    border: 1px solid #FF2443!important;
}

.input-field::-ms-clear{display: none;}
.input-field::-ms-reveal{display:none;}
input::-webkit-input-placeholder{color: #000 !important;}
input::-moz-placeholder{color: #000 !important;}
input::-moz-placeholder{color: #000 !important;}
input:-ms-input-placeholder {color: #000 !important;}
@media (max-width: 1428px) {
    .index-content h1{
        font-size:50px ;
        margin: 0 auto 36px;
    }
}
@media (max-width: 1290px) {
    .index-content{
        top: 26%;
    }
    .index-content h1{
        font-size:48px ;
        margin: 0 auto 20px;
    }
    .index-content  .search-form{
        height: 60px;
    }
    .index-content .search-form .search-btn{
        position: absolute;
        top: 50%;
        right: 16px;
        width: 30px;
        height: 30px;
        cursor: pointer;
        background: url(./images/searchBtn.png) no-repeat center center;
        -moz-background-size: 46px, 46px;
        -o-background-size: 46px, 46px;
        -webkit-background-size: 46px, 46px;
        background-size: 30px, 30px;
        border: none;
    }
}

@media  (max-width: 1060px) {
    .index-content h1{
        font-size: 34px;
    }
}
@media (max-width: 1024px) {
    .index-content h1{
        font-size: 34px;
    }
    .video-box{
       margin-top: 94px;
    }
    .index-footer .hot-video-item{
        width: 100%;
        margin: 2.5%;
    }
    .index-content form.search-form{
        display: none;
    }
}
@media (max-width: 700px) {
    .index-content{
        top:10%;
    }
}
@media (max-width: 580px) {
    .index-content h1{
       display: none;
    }
}